@page
@model App.Pages.ClearModel
@{
}

<div class="text-center">
    <h1 class="display-4">Wyczyść wiadomości</h1>

    <div>
        @{
            if (Model.Cleared)
            {
                <div>
                    <p>Wyczyszczono wszystkie wiadomości</p>
                    <a asp-page="/Index">Strona główna</a>
                </div>
            }
            else
            {
                <div>
                    <p>Czy naprawdę chcesz usunąć wiadomości?</p>
                    <form method="post">
                        <input type="submit" />
                    </form>
                    <a asp-page="/Index">Cofnij</a>
                </div>
            }
        }
    </div>
</div>